<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
<h1>Create product</h1>
<p>
    <a href="/products">Product list</a>
</p><th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form action="" method="post">
    <table>
        <tr>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td><input type="text" name="price"/>$</td>
        </tr>
        <tr>
            <td><input type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
</body>
</html>